<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.chat.ChatMapper">
	
	<select id="friendList" parameterType="int" resultType="java.util.LinkedHashMap">
		SELECT * FROM member, 
			(SELECT you_no AS fri, res_date FROM friend WHERE i_no = #{member_no} AND res_date IS NOT NULL
				UNION
			SELECT i_no AS fri, res_date FROM friend WHERE you_no = #{member_no} and res_date IS NOT NULL) AS a  
		WHERE member_no = a.fri 
		ORDER BY nickname ASC
	</select>

	<select id="listInfo" parameterType="java.util.LinkedHashMap" resultType="int">
		SELECT channel_no from chat_channel
		where title = '${i_no}_${member_no}' OR title = '${member_no}_${i_no}'
	</select>
	
	<select id="list" parameterType="int" resultType="java.util.LinkedHashMap">
	SELECT 
		friend_no,channel_no, type, title, ch.limit,
	    (SELECT nickname FROM member WHERE friend_no = member_no) nickname,
	    (SELECT content FROM chat_history his WHERE his.channel_no = ch.channel_no ORDER BY his.regdate DESC limit 1) msg,
	    (SELECT regdate FROM chat_history his WHERE his.channel_no = ch.channel_no ORDER BY his.regdate DESC limit 1) msg_regdate
	FROM chat_channel ch RIGHT OUTER JOIN (
			SELECT
				*,
				(case when i_no = ${i_no} then you_no
					when you_no = ${i_no} then i_no
					END) friend_no
			FROM friend
			WHERE ${i_no} = I_no AND res_date is not null OR ${i_no} = you_no AND res_date is not null ) AS a
	ON title = concat(${i_no},'_',friend_no) 
		or title = concat(friend_no,'_',${i_no})
	ORDER BY msg_regdate DESC
	</select>
	
	<insert id="insertChat" parameterType="java.util.Map">
		INSERT INTO chat_history (channel_no, member_no, content, regdate, isread) 
		VALUES (#{channel_no}, #{member_no}, #{content}, now(), #{isread})
	</insert>
	
	<insert id="creatChannel" parameterType="map">
		INSERT INTO chat_channel (type, title, chat_channel.limit, regdate)
		VALUES (0, concat('${member_no}','_', '${friend_no}'),  2, now())
		
		<selectKey order="AFTER" keyProperty="channel_no" resultType="int">
			SELECT channel_no FROM chat_channel WHERE title = concat('${member_no}','_', '${friend_no}')
		</selectKey>
	</insert>
	
	<select id="getChannel" parameterType="map" resultType="java.lang.Integer">
		SELECT channel_no FROM chat_channel
		WHERE title = concat('${member_no}','_','${friend_no}') 
			or title = concat('${friend_no}', '_' ,'${member_no}')
	</select>
	
	
	<insert id="joinChannel">
		insert INTO chat_member (channel_no, member_no, joindate)
		VALUES (#{channel_no}, #{member_no}, now())
	</insert>
	
	
	<select id="chatHistory" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT *, 
			(SELECT nickname FROM member m WHERE m.member_no = ch.member_no) nickname
		FROM chat_history ch
		WHERE channel_no = #{channel_no}
			AND regdate BETWEEN (
				SELECT joindate 
				FROM chat_member 
		        WHERE member_no = #{member_no} and channel_no = #{channel_no}
		        ) AND now()
		ORDER BY regdate
	</select>
	
	<select id="openChatList" resultType="java.util.LinkedHashMap">
		SELECT *
		FROM chat_channel ch left join (
				SELECT channel_no, count(*) num_enter, exitdate 
				FROM chat_member
				GROUP BY channel_no, exitdate
				HAVING exitdate IS NULL) m
		ON m.channel_no = ch.channel_no
		WHERE type=1 AND closedate IS NULL
		ORDER BY regdate DESC
	</select>
	
	<select id="myOpenChatlist" parameterType="int" resultType="java.util.LinkedHashMap">
		SELECT *,
			(SELECT content FROM chat_history his WHERE his.channel_no = chn.channel_no ORDER BY his.regdate DESC limit 1) msg,
		    (SELECT his.regdate FROM chat_history his WHERE his.channel_no = chn.channel_no ORDER BY his.regdate DESC limit 1) msg_regdate,
   			(SELECT count(*) FROM chat_member where channel_no = chn.channel_no GROUP BY channel_no, isexited ) num_enter
		FROM chat_channel cha inner join (
				SELECT *,
					(SELECT ch.type FROM chat_channel ch WHERE m.channel_no = ch.channel_no) type
				FROM chat_member m 
				WHERE member_no = #{member_no}) chn
		ON cha.channel_no = chn.channel_no
		WHERE chn.type = 1 AND cha.closedate IS null AND isexited = 0
		ORDER BY msg_regdate DESC
	</select>
	
</mapper>