<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.report.ReportMapper">
	
	<select id="selectMember" parameterType="kr.co.pet.report.ReportVO" resultType="kr.co.pet.member.MemberVO">
		SELECT * FROM member WHERE member_no = #{you_no}
	</select>
	
	<select id="selectBoard" parameterType="kr.co.pet.report.ReportVO" resultType="kr.co.pet.board.BoardVO">
		SELECT * FROM board WHERE board_no = #{board_no}
	</select>
	
	<select id="selectReply" parameterType="kr.co.pet.report.ReportVO" resultType="kr.co.pet.reply.ReplyVO">
		SELECT * FROM reply WHERE board_no = #{board_no} AND reply_no = #{reply_no}
	</select>
	
	
	<insert id="report" parameterType="kr.co.pet.report.ReportVO">
		INSERT INTO report (i_no, you_no, reason, content, report_date, reply_no, board_no)
		VALUES ( #{i_no}, #{you_no}, #{reason}, #{content}, now(), #{reply_no}, #{board_no})
	</insert>
	
	<update id="handleReport" parameterType="kr.co.pet.report.ReportVO">
		UPDATE report SET stat = #{stat}, resdate = now() WHERE report_no = #{report_no}
	</update>
	
	<select id="getReportList" parameterType="kr.co.pet.report.ReportVO" resultType="kr.co.pet.report.ReportVO">
		SELECT 
			report_no, i_no, you_no, reason, report.content, report_date, 
			report.reply_no, report.board_no, stat, resdate, 
			board_name, horse_hair, title as target_title, regdate, update_date,
			(SELECT count(*) 
			FROM report sub 
			WHERE sub.board_no = report.board_no 
				AND sub.reply_no = report.reply_no 
			) sumCnt,
			(SELECT nickname FROM member WHERE member.member_no = i_no) i_nickname,
			(SELECT nickname FROM member WHERE member.member_no = you_no) you_nickname,
			(SELECT content FROM reply WHERE reply.reply_no = report.reply_no) target_reply
		FROM report left join (
		<if test="targetType == null or targetType == ''">
			select board_no, board_name, horse_hair, title, regdate, update_date, IFNULL('0', '0') reply_no 
			FROM board
			union
			select board_no, 
				(SELECT board_name FROM board WHERE board.board_no = reply.board_no) board_name,
				(SELECT horse_hair FROM board WHERE board.board_no = reply.board_no) horse_hair,
				content as title, regdate, update_date, reply_no
			FROM reply
		</if>
		<if test="targetType == 'board'">
			select board_no, board_name, horse_hair, title, regdate, update_date, IFNULL('0', '0') reply_no 
			FROM board
			
		</if>
		<if test="targetType == 'reply'">
			select board_no, 
				(SELECT board_name FROM board WHERE board.board_no = reply.board_no) board_name,
				(SELECT horse_hair FROM board WHERE board.board_no = reply.board_no) horse_hair,
				content as title, regdate, update_date, reply_no
			FROM reply
		</if>
		) b1
		ON report.board_no = b1.board_no AND report.reply_no = b1.reply_no
		<where>
			<if test="targetType == 'board'">
				report.reply_no = 0
			</if>
			<if test="targetType == 'reply'">
				report.reply_no != 0
			</if>
			<if test="stat != null and stat !=''">
				AND stat = #{stat}
	 		</if>
	 		<if test="reason != 0 ">
				AND reason = #{reason}
	 		</if>
	 		<if test="i_nickname != null and i_nickname != ''" >
	 			and report.i_no = (SELECT member.member_no FROM member WHERE nickname = #{i_nickname})
	 		</if>
	 		<if test="you_nickname != null and you_nickname != ''" >
	 			and report.you_no = (SELECT member.member_no FROM member WHERE nickname = #{you_nickname})
	 		</if>
	 		<if test="fromDate != null and fromDate != '' 
					and toDate != null and toDate != ''">
				and report.report_date between #{fromDate} and #{toDate}
			</if>
	 		<if test="resFromDate != null and resFromDate != '' 
					and resToDate != null and resToDate != ''">
				and report.report_date between #{resFromDate} and #{resToDate}
			</if>
	 		
		</where>
		ORDER BY ${sort} ${order}
		Limit #{startIdx},${pageRow}
	</select>
	
	<select id="getCount" parameterType="kr.co.pet.report.ReportVO" resultType="int">
		SELECT COUNT(*)
		FROM report left join (
		<if test="targetType == null or targetType == ''">
			select board_no, board_name, horse_hair, title, regdate, update_date, IFNULL('0', '0') reply_no 
			FROM board
			union
			select board_no, 
				(SELECT board_name FROM board WHERE board.board_no = reply.board_no) board_name,
				(SELECT horse_hair FROM board WHERE board.board_no = reply.board_no) horse_hair,
				content as title, regdate, update_date, reply_no
			FROM reply
		</if>
		<if test="targetType == 'board'">
			select board_no, board_name, horse_hair, title, regdate, update_date, IFNULL('0', '0') reply_no 
			FROM board
			
		</if>
		<if test="targetType == 'reply'">
			select board_no, 
				(SELECT board_name FROM board WHERE board.board_no = reply.board_no) board_name,
				(SELECT horse_hair FROM board WHERE board.board_no = reply.board_no) horse_hair,
				content as title, regdate, update_date, reply_no
			FROM reply
		</if>
		) b1
		ON report.board_no = b1.board_no AND report.reply_no = b1.reply_no 
		<where>
			<if test="targetType == 'board'">
				report.reply_no = 0
			</if>
			<if test="targetType == 'reply'">
				report.reply_no != 0
			</if>
			<if test="stat != null and stat !=''">
				AND stat = #{stat}
	 		</if>
	 		<if test="reason != 0 ">
				AND reason = #{reason}
	 		</if>
	 		<if test="i_nickname != null and i_nickname != ''" >
	 			and report.i_no = (SELECT member.member_no FROM member WHERE nickname = #{i_nickname})
	 		</if>
	 		<if test="you_nickname != null and you_nickname != ''" >
	 			and report.you_no = (SELECT member.member_no FROM member WHERE nickname = #{you_nickname})
	 		</if>
	 		<if test="fromDate != null and fromDate != '' 
					and toDate != null and toDate != ''">
				and report.report_date between #{fromDate} and #{toDate}
			</if>
	 		<if test="resFromDate != null and resFromDate != '' 
					and resToDate != null and resToDate != ''">
				and report.report_date between #{resFromDate} and #{resToDate}
			</if>
		</where>
		ORDER BY report_no DESC
	</select>
	
	<select id="getReportView" parameterType="kr.co.pet.report.ReportVO" resultType="kr.co.pet.report.ReportVO">
		SELECT *,
			(SELECT count(*) 
			FROM report sub 
			WHERE sub.board_no = report.board_no 
				AND sub.reply_no = report.reply_no 
			) sumCnt,
			(SELECT nickname FROM member WHERE member.member_no = i_no) i_nickname,
			(SELECT nickname FROM member WHERE member.member_no = you_no) you_nickname,
			(SELECT title FROM board WHERE board.board_no = report.board_no) target_title,
			(SELECT content FROM reply WHERE reply.reply_no = report.reply_no) target_reply
		FROM report 
		WHERE report_no = #{report_no}
		<if test='stat != null'>
			AND stat = #{stat}
 		</if>
	</select>
	
	<select id="getMemberList" parameterType="kr.co.pet.report.ReportVO" resultType="kr.co.pet.report.ReportVO">
		SELECT *,
			(SELECT count(*) 
			FROM report sub 
			WHERE sub.board_no = report.board_no 
				AND sub.reply_no = report.reply_no 
				AND sub.stat != 'reject') sumCnt
		FROM report 
		WHERE you_no = #{you_no} 
		<if test='stat != null'>
			AND stat = #{stat}
 		</if>
		ORDER BY report_no DESC;
	</select>
	
	<select id="getMemberReportCnt" parameterType="kr.co.pet.report.ReportVO" resultType="kr.co.pet.report.ReportVO">
		SELECT count(*) sumCnt
		FROM report sub 
		WHERE you_no = #{you_no}  
		<if test='stat != null'>
			AND stat = #{stat}
 		</if>
	</select>
	
	<update id="adminDeleteB" parameterType="kr.co.pet.report.ReportVO" >
		UPDATE board SET
		isdelete = 2
		WHERE board_no = #{board_no}
	</update>
	
	<update id="adminDeleteR" parameterType="kr.co.pet.report.ReportVO" >
		UPDATE reply SET
		isdelete = 2
		WHERE reply_no = #{reply_no}
	</update>
</mapper>