<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.alram.AlramMapper">
	
	<select id="findNick" parameterType="int" resultType="String">
		SELECT nickname FROM member
		WHERE member_no = #{member_no}
	</select>

	<insert id="insert" parameterType="kr.co.pet.alram.AlramVO">
		INSERT INTO alram (
			send_no, read_no, board_no, title, cmd
		) VALUES (
			#{send_no}, #{read_no}, #{board_no}, #{title}, #{cmd}
		)
	</insert>

	<select id="alramList" parameterType="kr.co.pet.alram.AlramVO" resultType="kr.co.pet.alram.AlramVO">
		SELECT * FROM alram
		WHERE read_no = #{member_no}
		AND isread = 0
		ORDER BY alram_no desc
	</select>

</mapper>