<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.center.CenterMapper">
	
	<insert id="insert" parameterType="kr.co.pet.center.CenterVO">
		INSERT INTO center (
			 shelter_no, park, ani_type, board_no
		) VALUES (
			 #{shelter_no}, #{park}, #{ani_type}, (SELECT board_no FROM board WHERE board_no = #{board_no})
		)
	</insert>
	
	
	<delete id="delete" parameterType="kr.co.pet.center.CenterVO">
		DELETE FROM center where cent_no = #{cent_no}
	</delete>
	
	
	<select id="findByBoard_no" parameterType="kr.co.pet.center.CenterVO" resultType="kr.co.pet.center.CenterVO">
		SELECT * FROM center WHERE board_no = #{board_no}
	</select>
	
	<select id="view" parameterType="int" resultType="kr.co.pet.center.CenterVO">
		SELECT * FROM center WHERE board_no = #{board_no}
	</select>
	
	<update id="update" parameterType="kr.co.pet.center.CenterVO">
		UPDATE center SET
			shelter_no = #{shelter_no},
			park = #{park},
			ani_type = #{anu_type}
			WHERE cent_no = #{cent_no}
	</update>
	
	<select id="count" parameterType="kr.co.pet.center.CenterVO" resultType="java.lang.Integer">
		select count(*) from center
		where board_no = #{board_no}
	</select>
	
	<select id="list" parameterType="kr.co.pet.center.CenterVO" resultType="kr.co.pet.center.CenterVO">
		select *,
			(select nickname from member 
				where board.member_no = member.member_no
			) as nickname,
				(select board_no from board
					where board.board_no = center.board_no
				) as board_no,
					(select * from 
						(SELECT filename_real from file 
							where file.board_no = center.board_no
							order by file_no asc
						) as a limit 1
					) as filename_real
		from center
		where board_no = #{board_no}
		
		
		
		<!-- <if test="horse_hair != null and horse_hair !=''">
			and horse_hair = ${horse_hair}
			<if test="stype != null and stype != ''">
				<if test="stype != 'all'">
					and ${stype} Like '%${sword}%'
				</if> 
				<if test="stype == 'all'">
					and (title Like '%${sword}%' or content Like '%${sword}%')
				</if>
			</if>
		</if> 
		order by regdate desc
		Limit #{startIdx},${pageRow}-->	
	</select>
</mapper>
