<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.message.MessageMapper">
	
	<insert id = "insert" parameterType="kr.co.pet.message.MessageVO">
		INSERT INTO message (
			content, send_member, read_member,  senddate, readdate, isdelete
			) VALUES (
				#{content}, #{send_no}, #{read_no}, NOW(), NOW(), 0
			)			
	</insert>
	
	<update id="readUpdate">
		UPDATE message SET readdate = NOW() WHERE mess_no = #{mess_no}
	</update>
	
	<update id="delUpdate">
		UPDATE message SET isdelete = 1 WHERE mess_no = #{mess_no}
	</update>
	
	<select id="sendList" parameterType="kr.co.pet.message.MessageVO" resultType="kr.co.pet.message.MessageVO">
		SELECT *,		
			(SELECT nickname FROM member WHERE member_no=message.send_member) AS member_nickname			
		FROM message;		
	</select>	
	
	<select id="readList" parameterType="kr.co.pet.message.MessageVO" resultType="kr.co.pet.message.MessageVO">
		SELECT *,		
			(SELECT nickname FROM member WHERE member_no=message.read_member) AS member_nickname			
		FROM message;		
	</select>
	
	
	
</mapper>