<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.mypage.MypageMapper">
	
	<select id="memberSelect" parameterType="int" resultType="kr.co.pet.member.MemberVO">
		SELECT *,
			(SELECT COUNT(*) FROM board WHERE member_no = #{member_no} AND isdelete = 0) AS board_count,
			(SELECT COUNT(*) FROM reply WHERE member_no = #{member_no} AND isdelete = 0) AS reply_count
		FROM member
		WHERE member_no = #{member_no} <!-- 로그인 회원 정보 받아오기 (아마 session?) -->
	</select>
	
	<select id="pwdCheck" parameterType="kr.co.pet.mypage.MypageVO" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE member_id = #{member_id} <!-- 로그인 회원 정보 받아오기 (아마 session?) -->
		AND pwd = #{pwd}
	</select>
	
	<update id="memberUpdate" parameterType="kr.co.pet.mypage.MypageVO">
		UPDATE member
		SET
			nickname = #{nickname},
			pwd = #{pwd},
			addr = #{addr}
		WHERE member_no = #{member_no}
	</update>
	
	<select id="memberAct"  resultType="map">
		SELECT *
		<if test="table_name == 'reply'">
		, (
			SELECT board_name FROM board WHERE board_no = reply.board_no) AS board_name 
		</if>
		FROM ${table_name}
		WHERE member_no = #{member_no}
		AND isdelete = 0
		ORDER BY regdate DESC
		LIMIT #{startIdx}, ${pageRow} <!-- 페이징처리 -->
	</select>
	
	<select id="messRead" resultType="map">
		SELECT * , 
			(SELECT nickname FROM member WHERE member_no = message.send_member) AS send_nick
		FROM message
		WHERE read_member = #{member_no}
		AND isdelete = 0
		ORDER BY senddate DESC
		LIMIT #{startIdx}, ${pageRow}
	</select>
	
	<select id="messReadCnt" resultType="int">
		SELECT COUNT(*)
		FROM message
		WHERE read_member = #{member_no}
		AND isdelete = 0
	</select>
	
	<select id="messSend" resultType="map">
		SELECT * , 
			(SELECT nickname FROM member WHERE member_no = message.read_member) AS read_nick
		FROM message
		WHERE send_member = #{member_no}
		AND isdelete = 0
		ORDER BY senddate DESC
		LIMIT #{startIdx}, ${pageRow}
	</select>
	
	<select id="messSendCnt" resultType="int">
		SELECT COUNT(*)
		FROM message
		WHERE send_member = #{member_no}
		AND isdelete = 0
	</select>
	
	<select id="memberActCnt" parameterType="kr.co.pet.mypage.MypageVO" resultType="int">
		SELECT COUNT(*) FROM ${table_name}
		WHERE member_no = #{member_no}
		AND isdelete = 0
	</select>
	
	<update id="memberActIsdel" parameterType="kr.co.pet.mypage.MypageVO">
		UPDATE ${table_name}
		SET 
			isdelete = 1
		WHERE	
		<if test="table_name == 'board'">
	 		board_no = #{select_no}
		</if>
		<if test="table_name == 'reply'">
	 		reply_no = #{select_no}
		</if>
		<if test="table_name == 'message'">
	 		mess_no = #{select_no}
		</if>
	</update>
	
	<delete id="memberActDel" parameterType="kr.co.pet.mypage.MypageVO">
		DELETE FROM ${table_name}
		<if test="table_name == 'bookmark'">
	 		WHERE book_no = #{select_no}
		</if>
		<if test="table_name == 'friend'">
			WHERE fri_no = #{select_no}
		</if>
		<if test="table_name == 'follow'"> <!-- 팔로우 삭제 추가 -->
			WHERE foll_no = #{select_no}
		</if>		
	</delete>
	
	<!-- 북마크 -->
	<select id="bookList" resultType="map">
		SELECT * FROM board, bookmark
		WHERE board.board_no = bookmark.board_no
		AND bookmark.member_no = #{member_no}
		ORDER BY book_no DESC
		LIMIT #{startIdx}, ${pageRow}
	</select>
	<select id="bookCnt" resultType="int">
		SELECT COUNT(*) FROM board, bookmark
		WHERE board.board_no = bookmark.board_no
		AND bookmark.member_no = #{member_no}
	</select>
	
	<!-- 친구 -->
	<update id="friendAccept" parameterType="kr.co.pet.mypage.MypageVO">
		UPDATE friend SET res_date = now()
		WHERE fri_no = #{select_no}
	</update>
	
	<select id="friendList" parameterType="kr.co.pet.mypage.MypageVO" resultType="kr.co.pet.mypage.MypageVO">
		SELECT nickname, a.res_date, a.fri_no FROM member, 
			(SELECT fri_no AS fri_no,you_no AS fri, res_date FROM friend WHERE i_no = #{member_no} AND res_date IS NOT NULL
				UNION
			SELECT fri_no AS fri_no, i_no AS fri, res_date FROM friend WHERE you_no = #{member_no} and res_date IS NOT NULL) AS a  
		WHERE member_no = a.fri
		ORDER BY nickname ASC
		LIMIT #{startIdx}, ${pageRow}
	</select>
	
	<select id="friendCount" parameterType="kr.co.pet.mypage.MypageVO" resultType="int">
		SELECT COUNT(*) FROM (
			SELECT you_no AS fri FROM friend WHERE i_no = #{member_no} AND res_date IS NOT NULL
				UNION
			SELECT i_no AS fri FROM friend WHERE you_no = #{member_no} and res_date IS NOT NULL
		) AS a
	</select>
	
	<select id="reqList" parameterType="kr.co.pet.mypage.MypageVO" resultType="kr.co.pet.mypage.MypageVO">
		SELECT * FROM member,
			(SELECT i_no, req_date, fri_no FROM friend WHERE you_no = #{member_no} AND res_date IS NULL) AS a
		WHERE member_no = a.i_no
		ORDER BY a.req_date DESC
		LIMIT #{startIdx}, ${pageRow}
	</select>

	<select id="reqCount" parameterType="kr.co.pet.mypage.MypageVO" resultType="int">
		SELECT COUNT(*) FROM friend WHERE you_no = #{member_no} AND res_date IS NULL
	</select> 
	
	<insert id="friendReq" parameterType="kr.co.pet.mypage.MypageVO">
		INSERT INTO friend ( 
			i_no, you_no, req_date
		) VALUE (
			#{i_no}, #{you_no}, now()
		)
	</insert>
	
	<!-- 팔로우 리스트 -->
	<select id="followList" parameterType="kr.co.pet.mypage.MypageVO" resultType="kr.co.pet.mypage.MypageVO">
		SELECT nickname, a.req_date, a.foll_no FROM member,
			(SELECT i_no, you_no, req_date, foll_no FROM follow WHERE i_no = #{member_no} AND relation=0) AS a
		WHERE member_no = a.you_no
		ORDER BY a.req_date DESC
		LIMIT #{startIdx}, ${pageRow}
	</select>
	
	<select id="followCount" parameterType="kr.co.pet.mypage.MypageVO" resultType="int">
		SELECT COUNT(*) FROM follow WHERE i_no = #{member_no} AND relation=0
	</select>

	<!-- 차단 리스트 -->
	<select id="blockList" parameterType="kr.co.pet.mypage.MypageVO" resultType="kr.co.pet.mypage.MypageVO">
		SELECT nickname, a.req_date, a.foll_no FROM member,
			(SELECT i_no, you_no, req_date, foll_no FROM follow WHERE i_no = #{member_no} AND relation=1) AS a
		WHERE member_no = a.you_no
		ORDER BY a.req_date DESC
		LIMIT #{startIdx}, ${pageRow}
	</select>
	
	<select id="blockCount" parameterType="kr.co.pet.mypage.MypageVO" resultType="int">
		SELECT COUNT(*) FROM follow WHERE i_no = #{member_no} AND relation=1
	</select>
	
	<select id="findFriNo" parameterType="kr.co.pet.mypage.MypageVO" resultType="Integer">
		SELECT fri_no FROM friend
		WHERE (i_no = #{i_no} AND you_no = #{you_no})
		OR (i_no = #{you_no} AND you_no = #{i_no})
	</select>

</mapper>