<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.board.BoardMapper">
	
	<insert id="insertSelectKey" >
		
		<selectKey keyProperty="board_no" order="AFTER" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO board (
			 board_name, title, content, horse_hair, regdate, tel, link, member_no
		) VALUES (
			 #{board_name}, #{title}, #{content}, #{horse_hair}, NOW(), #{tel}, #{link}, #{member_no}
		)
	</insert>
	
	<select id="nickname" parameterType="String" resultType="String">
		select nickname from member right join board on member.member_no = board.member_no
	</select>
	
	<select id="count" parameterType="kr.co.pet.board.BoardVO" resultType="java.lang.Integer">
		select count(*) from board
		where board_name = #{board_name}
		
		<if test="horse_hair != null and horse_hair !=''">
			and horse_hair = ${horse_hair}
		</if>
		
		<!-- 말머리가없을때(전체) 검색결과 나오게 위 코드와 따로 분리 -->
		
		<if test="stype != null and stype != ''">
			<if test="stype != 'all'">
				and ${stype} Like '%${sword}%'
			</if> 
			<if test="stype == 'all'">
				and (title Like '%${sword}%' or content Like '%${sword}%')
			</if>
		</if>
		order by regdate desc
	</select>
	
	
	<select id="list" parameterType="kr.co.pet.board.BoardVO" resultType="kr.co.pet.board.BoardVO">
		select *,
			(select nickname from member
				 where board.member_no = member.member_no
			) as nickname,
			(select * from 
				(SELECT filename_real from file 
					where file.board_no = board.board_no
					order by file_no asc
				) as a limit 1
			) as filename_real,
			(select count(*) from recommend
				where recommend.board_no = board.board_no
			) as rec,
			(select count(*) from reply
				where reply.board_no = board.board_no
			) as rep
		from board
		where board_name = #{board_name}
		<if test="horse_hair != null and horse_hair !=''">
			and horse_hair = ${horse_hair}
		</if>
		
		<!-- 말머리가없을때(전체) 검색결과 나오게 위 코드와 따로 분리 -->
		
		<if test="stype != null and stype != ''"> 
			<if test="stype != 'all'">
				and ${stype} Like '%${sword}%'
			</if> 
			<if test="stype == 'all'">
				and (title Like '%${sword}%' or content Like '%${sword}%')
			</if>
		</if>
		<if test="main != null">
			order by rec desc, viewcount desc
		</if>
		<if test="main == null">
		order by regdate desc
		</if>
		Limit #{startIdx},${pageRow}
	</select>
	
	<update id="updateViewCount" parameterType="int">
		UPDATE board SET viewcount = viewcount + 1 WHERE board_no = #{board_no}
	</update>
	
	<select id="view" parameterType="int" resultType="kr.co.pet.board.BoardVO">
		SELECT *,
			(select nickname from member
				 where board.member_no = member.member_no
			) as nickname
		from board WHERE board_no = #{board_no}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE board_no = #{board_no} 
	</delete>
	
	<update id="update" parameterType="kr.co.pet.board.BoardVO" >
		UPDATE board SET
		title = #{title},
		content = #{content}
		WHERE board_no = #{board_no}
	</update>
	
</mapper>