<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.board.BoardMapper">
	
	<insert id="insertSelectKey" >
		
		<selectKey keyProperty="board_no" order="AFTER" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO board (
			 board_name, title, content, horse_hair, regdate, tel, link, member_no
		) VALUES (
			 #{board_name}, #{title}, #{content}, #{horse_hair}, NOW(), #{tel}, #{link}, #{member_no}
		)
	</insert>
	
	<select id="nickname" parameterType="String" resultType="String">
		select nickname from member right join board on member.member_no = board.member_no
	</select>
	
	<select id="count" parameterType="kr.co.pet.board.BoardVO" resultType="java.lang.Integer">
		select count(*) from board left join location
		ON board.board_no = location.board_no
		where board_name = #{board_name}
		<if test="loginNO != null and loginNO !=''"> <!-- 차단 사람 글 count 안하게 WHERE 추가-->
			AND board.member_no not in (SELECT you_no FROM follow WHERE i_no = #{loginNO} AND relation = 1)
		</if>
		<!-- left join location
		ON board.board_no = location.board_no
		추가--> 
		<if test="horse_hair != null and horse_hair !=''">
			and horse_hair = ${horse_hair}
		</if>
		
		<!-- 말머리가없을때(전체) 검색결과 나오게 위 코드와 따로 분리 -->
		
		<if test="sido1 != null and sido1 !=''">    <!-- test="vo"에 들어있는 변수명" -->
			and addr LIKE '%${sido1}%'             <!-- 'addr'은 db에있는 컬럼명, '%${sido1}%'은 받아온 파라미터 값(vo에 있는 변수명) -->
		</if> 
		
		<if test="gugun1 != null and gugun1 !=''">
			and addr2 LIKE '%${gugun1}%'
		</if>
		
		<if test="stype != null and stype != ''">
			<if test="stype != 'all'">
				and ${stype} Like '%${stype}%'
			</if> 
			<if test="stype == 'all'">
				and (title Like '%${sword}%' or content Like '%${sword}%')
			</if>
		</if>
		order by regdate desc
	</select>
	
	
	<select id="list" parameterType="kr.co.pet.board.BoardVO" resultType="kr.co.pet.board.BoardVO"> 
		select *,
			(select nickname from member
				 where board.member_no = member.member_no
			) as nickname,
			(select * from 
				(SELECT filename_real from file 
					where file.board_no = board.board_no
					order by file_no asc
				) as a limit 1
			) as filename_real,
			(select count(*) from recommend
				where recommend.board_no = board.board_no
			) as rec,
			(select count(*) from reply
				where reply.board_no = board.board_no
			) as rep
		from board left join location
		ON board.board_no = location.board_no
		where board_name = #{board_name}
		
		<if test="loginNO != null and loginNO !=''"> <!-- 차단 사람 글 안보이게 WHERE추가 -->
			AND board.member_no not in (SELECT you_no FROM follow WHERE i_no = #{loginNO} AND relation = 1)
		</if>

		<if test="horse_hair != null and horse_hair !=''">
			and horse_hair = ${horse_hair}
		</if>
		
		<!-- 말머리가없을때(전체) 검색결과 나오게 위 코드와 따로 분리 -->
		
		<if test="sido1 != null and sido1 !=''">
			and addr LIKE '%${sido1}%'
		</if>
		
		<if test="gugun1 != null and gugun1 !=''">
			and addr2 LIKE '%${gugun1}%'
		</if>
		
		<if test="stype != null and stype != ''"> 
			<if test="stype != 'all'">
				and ${stype} Like '%${sword}%'
			</if> 
			<if test="stype == 'all'">
				and (title Like '%${sword}%' or content Like '%${sword}%')
			</if>
		</if>
		<if test="main != null">
			order by rec desc, viewcount desc
		</if>
		<if test="main == null">
		order by regdate desc
		</if>
		Limit #{startIdx},${pageRow}
	</select>
	
	<update id="updateViewCount" parameterType="int">
		UPDATE board SET viewcount = viewcount + 1 WHERE board_no = #{board_no}
	</update>
	
	<select id="view" parameterType="int" resultType="kr.co.pet.board.BoardVO">
		SELECT *,
			(select nickname from member
				 where board.member_no = member.member_no
			) as nickname
		from board WHERE board_no = #{board_no}
	</select>
	
	<update id="delete" parameterType="int">
		update board set isdelete = 1 WHERE board_no = #{board_no} 
	</update>
	
	<update id="update" parameterType="kr.co.pet.board.BoardVO" >
		UPDATE board SET
		title = #{title},
		content = #{content}
		WHERE board_no = #{board_no}
	</update>
	
</mapper>