<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.board.BoardMapper">
	
	<insert id="insertSelectKey" >
		<selectKey keyProperty="board_no" order="AFTER" resultType="int">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO board (
			board_no, board_name, title, content
		) VALUES (
			#{board_no}, #{board_name}, #{title}, #{content}
		)
	</insert>
	
	<select id="count" parameterType="kr.co.pet.board.BoardVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM board
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype != 'all'">
		 			${stype} LIKE '%${sword}%'
				</if>
				<if test="stype == 'all'">
					title LIKE '%${sword}%' OR content LIKE '%${sword}%' 
				</if>
			</if>
		</where>
	</select>
	
	
	<select id="list" parameterType="kr.co.pet.board.BoardVO" resultType="kr.co.pet.board.BoardVO">
		SELECT * FROM board
		order by board_no desc
	</select>
	
	<update id="updateViewCount" parameterType="int">
		UPDATE board SET viewcount = viewcount + 1 WHERE board_no = #{board_no}
	</update>
	
	<select id="view" parameterType="int" resultType="kr.co.pet.board.BoardVO">
		SELECT * FROM board WHERE board_no = #{board_no}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE board_no = #{board_no} 
	</delete>
	
	<update id="update" parameterType="kr.co.pet.board.BoardVO" >
		UPDATE board SET
		title = #{title},
		content = #{content}
		WHERE board_no = #{board_no}
	</update>
	
</mapper>