<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pet.admin.AdminMapper">
	
	<sql id="list_where">
		<where>
			<if test="sword != null and sword != ''">
				<if test="stype == 'all'">
					(title LIKE '%${sword}%' OR board.content LIKE '%${sword}%' )
				</if>
				<if test="stype == 'title'">
					title LIKE '%${sword}%'
				</if>
				<if test="stype == 'content'">
					board.content LIKE '%${sword}%'
				</if>
			</if>
			<if test="nickname != null and nickname != ''">
				and nickname = #{nickname}
			</if>
			<if test="board_name != null and board_name != ''">
				and board_name = #{board_name}
				<if test="horse_hair != null and horse_hair !=''">
				and horse_hair = #{horse_hair}
				</if>
			</if>
			<if test="fromDate != null and fromDate != '' 
					and toDate != null and toDate != ''">
				and board.regdate between #{fromDate} and #{toDate}
			</if>
			<if test="reply_content != null and reply_content != ''">
				and board.board_no = (
					SELECT distinct reply.board_no 
				    FROM reply 
				    WHERE board.board_no = reply.board_no
				    AND reply.content LIKE '%${reply_content}%'
				)
			</if>
		</where>
	</sql>

	<select id="list" parameterType="kr.co.pet.admin.AdminBoardVO" resultType="kr.co.pet.admin.AdminBoardVO">
		SELECT 
			board.board_no,	board_name,	horse_hair,	title, board.member_no, viewcount,	
			board.content, tel, link, board.regdate, board.update_date, board.isdelete,	
			loc_no,	gps_x, gps_y, location.addr, addr2,		
			hos_no,	license_no,	hospital.park, hospital.ani_type, hurry, room,
			cent_no, shelter_no, center.park, center.ani_type,
			(SELECT COUNT(*) FROM file WHERE board.board_no = file.board_no) file_count,
			nickname AS memb_nickname,
		    (SELECT count(*) FROM recommend 
			WHERE recommend.board_no = board.board_no AND reply_no = 0) rec_count,
		    (SELECT count(*) FROM bookmark 
			WHERE bookmark.board_no = board.board_no) book_count,
		    (SELECT COUNT(*) FROM reply
			WHERE reply.board_no = board.board_no) reply_count,
		    (SELECT COUNT(*) FROM report
			WHERE report.board_no = board.board_no AND report.reply_no = 0) report_count
		FROM board left join location 
			ON board.board_no = location.board_no
			LEFT JOIN hospital
			ON board.board_no = hospital.board_no
			LEFT JOIN center
			ON board.board_no = center.board_no
			LEFT JOIN member
			ON board.member_no = member.member_no
		<include refid="list_where"></include>
		ORDER BY ${sort} ${order}
		Limit #{startIdx},${pageRow}
	</select>
	
	<select id="count" resultType="int">
		SELECT count(*)
		FROM board left join location 
			ON board.board_no = location.board_no
			LEFT JOIN hospital
			ON board.board_no = hospital.board_no
			LEFT JOIN center
			ON board.board_no = center.board_no
			LEFT JOIN member
			ON board.member_no = member.member_no
		<include refid="list_where"></include>
	</select>
	
	<select id="adminList" parameterType="kr.co.pet.admin.AdminMemberVO" resultType="kr.co.pet.admin.AdminMemberVO">
		SELECT *
		FROM admin
		<where>
		<if test="sword != null and sword != ''">
			<if test="stype == 'all'">
			admin_id LIKE '%${sword}%' OR name LIKE '%${sword}%'
			</if>
			<if test="stype != 'all'">
			and ${stype} LIKE '%${sword}%'
			</if>
		</if>
		</where>
		ORDER BY ${sort} ${order}
		LIMIT #{startIdx},${pageRow}
	</select>
	
	<select id="adminCnt" parameterType="kr.co.pet.admin.AdminMemberVO" resultType="int">
		SELECT COUNT(*) FROM admin 
		<where>
		<if test="sword != null and sword != ''">
			<if test="stype == 'all'">
			admin_id LIKE '%${sword}%' OR name LIKE '%${sword}%'
			</if>
			<if test="stype != 'all'">
			and ${stype} LIKE '%${sword}%'
			</if>
		</if>
		</where>
	</select>
	
	<update id="defalutPwd" parameterType="kr.co.pet.admin.AdminMemberVO">
		UPDATE admin SET pwd = md5('admin1234!') WHERE admin_no = #{admin_no}
	</update>
	
	<select id="memberList" parameterType="kr.co.pet.admin.AdminMemberVO" resultType="kr.co.pet.admin.AdminMemberVO">
		SELECT *,
			(SELECT COUNT(*) FROM board WHERE board.member_no = member.member_no AND isdelete = 0) AS board_count,
			(SELECT COUNT(*) FROM reply WHERE reply.member_no = member.member_no AND isdelete = 0) AS reply_count
		FROM member
		<include refid="memberWhere"/>
		<if test="sort == 'board_count'">
		ORDER BY (SELECT COUNT(*) FROM board WHERE board.member_no = member.member_no AND isdelete = 0) ${order}
		</if>
		<if test="sort == 'reply_count'">
		ORDER BY (SELECT COUNT(*) FROM reply WHERE reply.member_no = member.member_no AND isdelete = 0) ${order}
		</if>
		<if test="sort != 'board_count' and sort != 'reply_count'">
		ORDER BY ${sort} ${order}
		</if>
		LIMIT #{startIdx},${pageRow}
	</select>
	
	<select id="memberCnt" parameterType="kr.co.pet.admin.AdminMemberVO" resultType="int">
		SELECT COUNT(*) FROM member
		<include refid="memberWhere"/>
	</select>
	
	<select id="replyList" parameterType="kr.co.pet.admin.AdminReplyVO" resultType="kr.co.pet.admin.AdminReplyVO">
		SELECT
			r.content, r.member_no, r.regdate, r.gno, r.reply_no,
			board.horse_hair, board.board_name, board.title, board.board_no,
			(SELECT count(*) FROM reply WHERE r.reply_no = reply.gno AND reply.ono != 0) reply_count,   
			(SELECT count(*) FROM recommend WHERE recommend.reply_no = r.reply_no) rec_count,
			(SELECT count(*) FROM report WHERE report.reply_no = r.reply_no) report_count,
			(SELECT nickname FROM member WHERE member.member_no = r.member_no) nickname
		FROM reply AS r LEFT JOIN board
		ON board.board_no = r.board_no
		LEFT JOIN member 
		ON r.member_no = member.member_no
		<where>
			<if test="sword != null and sword != ''">
				<if test="stype == 'all'">
					 title LIKE '%${sword}%' OR board.content LIKE '%${sword}%'
				</if>
				<if test="stype == 'title'">
					 title LIKE '%${sword}%'
				</if>
				<if test="stype == 'content'">
					 board.content LIKE '%${sword}%'
				</if>
			</if>
			<if test="nickname != null and nickname != ''">
				 AND nickname = #{nickname}
			</if>
			<if test="board_name != null and board_name != ''">
				AND board_name = #{board_name}
				<if test="horse_hair != null and horse_hair !=''">
				AND horse_hair = #{horse_hair}
				</if>
			</if>
			<if test="fromDate != null and fromDate != '' 
					and toDate != null and toDate != ''">
				 AND board.regdate between #{fromDate} AND #{toDate}
			</if>
			<if test="content != null and content != ''">
			    AND r.content LIKE '%${content}%'
			</if>
		</where>
		ORDER BY ${sort} ${order}
		Limit #{startIdx},${pageRow}
	</select>
	
	<select id="replyCnt" parameterType="kr.co.pet.admin.AdminReplyVO" resultType="int">
		SELECT COUNT(*) FROM reply AS r LEFT JOIN board
		ON board.board_no = r.board_no
		LEFT JOIN member 
		ON r.member_no = member.member_no
		<where>
			<if test="sword != null and sword != ''">
				<if test="stype == 'all'">
					 title LIKE '%${sword}%' OR board.content LIKE '%${sword}%'
				</if>
				<if test="stype == 'title'">
					 title LIKE '%${sword}%'
				</if>
				<if test="stype == 'content'">
					 board.content LIKE '%${sword}%'
				</if>
			</if>
			<if test="nickname != null and nickname != ''">
				AND nickname = #{nickname}
			</if>
			<if test="board_name != null and board_name != ''">
				AND board_name = #{board_name}
				<if test="horse_hair != null and horse_hair !=''">
				AND horse_hair = #{horse_hair}
				</if>
			</if>
			<if test="fromDate != null and fromDate != '' 
					and toDate != null and toDate != ''">
				AND board.regdate between #{fromDate} and #{toDate}
			</if>
			<if test="content != null and content != ''">
				   AND r.content LIKE '%${content}%'
			</if>
		</where>
	</select>
	
	<!-- 방문자 -->
	<select id= "visitToday" parameterType="kr.co.pet.admin.AdminBoardVO" resultType="kr.co.pet.admin.AdminBoardVO">
		SELECT 
			visit_date 
				,visit_mcount mtoday
				,visit_nonmcount nonmtoday 
				,visit_mcount  + visit_nonmcount AS todaytotal 
		FROM visit 
		WHERE visit_date = curdate()
	</select>
	
	<!-- today 게시글  -->
	<select id= "boardToday" parameterType="kr.co.pet.admin.AdminBoardVO" resultType="Integer">
		SELECT 
			count(*) AS board_today 
		FROM board 
		WHERE date_format(regdate,'%Y-%m-%d') = curdate()
	</select>
	
	<!-- today 댓글 -->
	<select id= "replyToday" parameterType="kr.co.pet.admin.AdminBoardVO" resultType="Integer">
		SELECT 
			count(*) AS reply_today 
		FROM reply 
		WHERE date_format(regdate,'%Y-%m-%d') = curdate()
	</select>
	
	<select id="loginCheck" parameterType="kr.co.pet.admin.AdminMemberVO" resultType="kr.co.pet.admin.AdminMemberVO">
		select * from admin where admin_id = '${admin_id}' and pwd = md5('${pwd}')
	</select>
	
	<select id="idCheck" parameterType="String" resultType="int">
		select count(admin_id) from admin where admin_id = #{admin_id}
	</select>
	
	<insert id = "insert" parameterType="kr.co.pet.admin.AdminMemberVO">
		insert into admin ( name, admin_id, pwd )
		values ( #{name}, #{admin_id}, md5(#{pwd}))
	</insert>
	
	<!-- 회원관리 조건문 -->
	<sql id="memberWhere">
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype == 'all'">
					(member_id LIKE '%${sword}%' OR nickname LIKE '%${sword}%' OR email LIKE '%${sword}%')
				</if>
				<if test="stype != 'all'">
					${stype} LIKE '%${sword}%'
				</if>
			</if>
			<if test="gender != 0">
				AND gender = #{gender}
			</if>
			<if test="level != 0">
				<if test="level_order == 'only'">
					AND level = #{level}
				</if>
				<if test="level_order == 'up'">
				<![CDATA[
					AND level >= #{level}
				]]>
				</if>
				<if test="level_order == 'down'">
				<![CDATA[
					AND level <= #{level}
				]]>
				</if>
			</if>
			<if test="out != 0">
				AND member.out = #{out}
			</if>
			<if test="dateType != null and dateType != ''">
				<choose>
					<when test="fromDate == '1week'">
						AND (date_format(${dateType},'%Y-%m-%d') BETWEEN DATE_ADD(date_format(now(),'%Y-%m-%d'), INTERVAL -1 WEEK) AND date_format(now(),'%Y-%m-%d'))
					</when>
					<when test="fromDate == '1month'">
						AND (date_format(${dateType},'%Y-%m-%d') BETWEEN DATE_ADD(date_format(now(),'%Y-%m-%d'), INTERVAL -1 MONTH) AND date_format(now(),'%Y-%m-%d'))
					</when>
					<when test="fromDate == '3month'">
						AND (date_format(${dateType},'%Y-%m-%d') BETWEEN DATE_ADD(date_format(now(),'%Y-%m-%d'), INTERVAL -3 MONTH) AND date_format(now(),'%Y-%m-%d'))
					</when>
					<otherwise>
						AND (date_format(${dateType},'%Y-%m-%d') BETWEEN '${fromDate}' AND '${toDate}')
					</otherwise>
				</choose>
			</if>
			<if test="board_count != null and board_count != ''">
				<if test="board_order == 'only'">
					AND (SELECT COUNT(*) FROM board WHERE board.member_no = member.member_no AND isdelete = 0) = #{board_count}
				</if>
				<if test="board_order == 'up'">
				<![CDATA[
					AND (SELECT COUNT(*) FROM board WHERE board.member_no = member.member_no AND isdelete = 0) >= #{board_count}
				]]>
				</if>
				<if test="board_order == 'down'">
				<![CDATA[
					AND (SELECT COUNT(*) FROM board WHERE board.member_no = member.member_no AND isdelete = 0) <= #{board_count}
				]]>
				</if>
			</if>
			<if test="reply_count != null and reply_count != ''">
				<if test="reply_order == 'only'">
					AND (SELECT COUNT(*) FROM reply WHERE reply.member_no = member.member_no AND isdelete = 0) = #{reply_count}
				</if>
				<if test="reply_order == 'up'">
				<![CDATA[
					AND (SELECT COUNT(*) FROM reply WHERE reply.member_no = member.member_no AND isdelete = 0) >= #{reply_count}
				]]>
				</if>
				<if test="reply_order == 'down'">
				<![CDATA[
					AND (SELECT COUNT(*) FROM reply WHERE reply.member_no = member.member_no AND isdelete = 0) <= #{reply_count}
				]]>
				</if>
			</if>
		</where>
	</sql>
</mapper>